---

import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import fetchArticles from "../../../lib/fetchArticles";

// export const prerender = false;

const { category, slug } = Astro.params;

const articles =  await fetchArticles( {collection:"all-articles", slug: slug} );

const { articleContent } = Astro.props;

---

<ArticleLayout></ArticleLayout>

<main class="wrapper">

    <h1>{articleContent.title}</h1>
    <img src={articleContent.featuredImage} alt="oops-no-image" class="featured-image">
    <div class="article-content flow" set:html={articleContent.content} />

</main>

<style>

    h1 {
        text-align: center;
    }

    .article-content {
        max-width: 70ch;
        margin-inline: auto;
    }

    .featured-image {
        margin: 3rem auto;
        max-height: 50vh;
        border-radius: 1rem;
        box-shadow: var(--shadow);
    }

</style>