---

import ArticleLayout from "../../../layouts/ArticleLayout.astro";
import fetchArticles from "../../../lib/fetchArticles";

const { category, slug } = Astro.params;

const articles =  await fetchArticles( {collection:"all-articles", categoryName: category, slug: slug} );

const articleContent = articles[0];

Astro.response.headers.set(
  'CDN-Cache-Control',
  'public, s-maxage=5, stale-while-revalidate=59'
);

---

<ArticleLayout></ArticleLayout>

<main class="wrapper">

    <h1>{articleContent.title}</h1>
    <img src={articleContent.featuredImage} alt="oops-no-image" class="featured-image">
    <div class="article-content flow" set:html={articleContent.content} />

</main>

<style>

    h1 {text-align: center;}

    .article-content {
        max-width: 70ch;
        margin-inline: auto;

        h3 {font-style: italic;}
    }

    .featured-image {
        margin: 3rem auto;
        max-height: 50vh;
        border-radius: 0.5rem;
        box-shadow: var(--shadow);
    }

</style>