---

import HomeLayout from "../layouts/HomeLayout.astro";
import fetchArticles from "../lib/fetchArticles";

const articles = await fetchArticles({ collection:"home-page" })
const articleContent = articles[0]

---
    
<HomeLayout></HomeLayout>

<main class="wrapper">

    <section class="hero">
        <h1 class="hero-title">the unexplored</h1>
    </section>

    <section class="about flow">
        
        <h1>{articleContent.title}</h1>

        <div class="content flow" set:html={articleContent.content} />
        
    </section>

</main>

<style>

    .hero {
        height: 100dvh;
        display: flex;
        justify-content: center;

        .hero-title {
            font-size: 2.5rem;
            font-weight: 300;
            margin-top: 30vh;
            font-family: "Inconsolata", monospace;
            color: var(--clr-primary);
        }
    }

    .about {

        h1 {
            text-align: center;
        }
    }

    .content {

        :where(h1, h2, h3) {
            margin-inline: auto;
        }

        p {
            max-width: 70ch;
            margin-inline: auto;
        }
    }


    .wrapper {
        margin-top: -4.5rem;
    }

</style>