---

import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
import HeaderContent from "../components/HeaderContent.astro";
import '../styles/global.css';

import HomePageBG from "../images/homepage-bg.jpg";

Astro.response.headers.set(
  'CDN-Cache-Control', 
  'public, s-maxage=10, stale-while-revalidate=59'
);

export const prerender = true;

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>The Wilderness Trails</title>
    <ClientRouter />
</head>

<body>

<header class="header wrapper">

    <HeaderContent />

</header>

<main>

    <section class="hero">
        <h1 class="hero-title">the unexplored</h1>
        <Image src={HomePageBG} alt="" class="hero-image" />
    </section>

    <section class="about wrapper flow">
            
        <h1 class="about-title">About this place</h1>

        <p>
            Have you ever wondered why we are born on this planet at any point in your life? Why do we go through a daily routine from a young age? Apart from the tasks that satisfy our survival needs, how did we end doing all the other things?
        </p>
        <p>
            If anything, whatever activities we perform today are the projections of the stories or dialogues that our mind has created by grouping the sensory data we have subconsciously imbibed from our surroundings since our little brain started to develop. The most powerful patterns are those which had all our five senses involved while observing. If the story in play was something unique or an extreme version of our likes and dislikes, they have the potential to create strong imprints directly in our subconscious mind. Yet, we wonder, “why am I doing this particular thing when I didn’t intend to do it in the first place?”. Don’t we all?
        </p>
        <p>
            When we marvel about how big the world is don’t we also get the sense that there is a whole bunch of things or aspects to life that’s out there but not very obvious to us. We get stuck in a rut trying to achieve something only to end up feeling unsatisfied. We exhaust ourselves constantly switching between things wondering, “Maybe this is it. This is that thing that I’ve been waiting to do my whole life”.
        </p>
        <p>
            After a point, we start using the word “depth” to address how much we are willing to dive in to the very depth of all our doings, be it professional or personal to find that glowing satisfaction. And most often we connect this “depth” to words such as “loud”, “heavy”, “strong”, “grand”. What if the opposite added another dimension to the word “depth”? What if “subtle” held more “depth” than anything else? How do we experience the “subtle” with the “utmost depth”? Most often by cutting off the noise in every sense, be it inside your head or outside it. Confusing?
        </p>
        <p>
            Here, we attempt to explore the tiny and subtler aspects of life with the utmost depth with a no-holds barred approach.
        </p>
        
    </section>

</main>

</body>
</html>

<style>

.header {
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 100;
    width: calc(100% - 4rem);
    height: 4.5rem;
    padding-block: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 100vw;
    border: 1px solid hsl(from var(--clr-font) h s l / 0.3);
    box-shadow: var(--shadow);
    background-color: hsl(from var(--clr-primary-surface) h s 5% / 0.8);
    backdrop-filter: blur(10px);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 150vh;
    animation-range-end: 180vh;
}

@keyframes fade-in {
    100% {pointer-events: unset; opacity: 1;}
}

.hero {
    margin-top: -4.5rem;
    height: 100dvh;
    display: grid;
    place-items: center;
    position: relative;

    .hero-title {
        margin-top: -5rem;
        font-size: 2.5rem;
        font-weight: 300;
        font-family: "Inconsolata", monospace;
        text-align: center;
        color: var(--clr-primary);
        animation: fade-out linear forwards;
        animation-timeline: view();
        animation-range: exit -20vh;
    }

    .hero-image {
        grid-column: 1/-1;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
        animation: hero-img-animation linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
}

@keyframes fade-out {
    100% {opacity: 0;}
}

@keyframes hero-img-animation {
    100% {opacity: 0; scale: 3;}
}

.about {
    max-width: 70ch;

    .about-title {text-align: center;}
}

</style>