---

import HomeLayout from "../layouts/HomeLayout.astro";
import { Image } from "astro:assets";

import HomePageBG from "../images/homepage-bg.jpg";

import fetchArticles from "../lib/fetchArticles";

const articles = await fetchArticles({ collection:"home-page" })
const articleContent = articles[0]

Astro.response.headers.set(
  'CDN-Cache-Control', 
  'public, s-maxage=10, stale-while-revalidate=59'
);

---
    
<HomeLayout></HomeLayout>

<main>

    <section class="hero">
        <h1 class="hero-title">the unexplored</h1>
        <Image src={HomePageBG} alt="" class="hero-image" />
    </section>

    <div class="wrapper">

        <section class="about flow">
            
            <h1>{articleContent.title}</h1>
    
            <div class="content flow" set:html={articleContent.content} />
            
        </section>

    </div>


</main>

<style>

.hero {
    margin-top: -4.5rem;
    height: 100dvh;
    display: grid;
    place-items: center;
    position: relative;

    .hero-title {
        font-size: 2.5rem;
        font-weight: 300;
        margin-top: -5rem;
        font-family: "Inconsolata", monospace;
        color: var(--clr-primary);
        animation: fade-out linear forwards;
        animation-timeline: view();
        animation-range: exit -20vh;
    }

    .hero-image {
        grid-column: 1/-1;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
        animation: hero-img-animation linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
}

@keyframes fade-out {
    100% {opacity: 0;}
}

@keyframes hero-img-animation {
    100% {opacity: 0; scale: 3;}
}

.about {

    h1 {
        text-align: center;
    }

    .content {

        p {
            max-width: 70ch;
            margin-inline: auto;
        }
    }
}

</style>