---

import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
import HeaderContent from "../components/HeaderContent.astro";
import '../styles/global.css';

import HomePageBG from "../images/homepage-bg.jpg";

import fetchArticles from "../lib/fetchArticles";

const articles = await fetchArticles({ collection:"home-page" })
const articleContent = articles[0]

Astro.response.headers.set(
  'CDN-Cache-Control', 
  'public, s-maxage=10, stale-while-revalidate=59'
);

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>The Wilderness Trails</title>
    <ClientRouter />
</head>

<body>

<header class="header wrapper">

    <HeaderContent />

</header>

<main>

    <section class="hero">
        <h1 class="hero-title">the unexplored</h1>
        <Image src={HomePageBG} alt="" class="hero-image" />
    </section>

    <div class="wrapper">

        <section class="about flow">
            
            <h1>{articleContent.title}</h1>
    
            <div class="content flow" set:html={articleContent.content} />
            
        </section>

    </div>

</main>

</body>
</html>

<style>

.header {
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 100;
    width: calc(100% - 4rem);
    height: 4.5rem;
    padding-block: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 100vw;
    border: 1px solid hsl(from var(--clr-font) h s l / 0.3);
    box-shadow: var(--shadow);
    background-color: hsl(from var(--clr-primary-surface) h s 5% / 0.8);
    backdrop-filter: blur(10px);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 150vh;
    animation-range-end: 180vh;
}

@keyframes fade-in {
    100% {pointer-events: unset; opacity: 1;}
}

.hero {
    margin-top: -4.5rem;
    height: 100dvh;
    display: grid;
    place-items: center;
    position: relative;

    .hero-title {
        margin-top: -5rem;
        font-size: 2.5rem;
        font-weight: 300;
        font-family: "Inconsolata", monospace;
        text-align: center;
        color: var(--clr-primary);
        animation: fade-out linear forwards;
        animation-timeline: view();
        animation-range: exit -20vh;
    }

    .hero-image {
        grid-column: 1/-1;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
        animation: hero-img-animation linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
}

@keyframes fade-out {
    100% {opacity: 0;}
}

@keyframes hero-img-animation {
    100% {opacity: 0; scale: 3;}
}

.about {

    h1 {text-align: center;}

    .content p {max-width: 70ch; margin-inline: auto;}
}

</style>