---

import Analytics from '@vercel/analytics/astro';
import { ClientRouter } from "astro:transitions";
import { Image } from "astro:assets";
import HeaderContent from "../components/HeaderContent.astro";
import '../styles/global.css';

import HomePageBG from "../images/homepage-bg.jpg";

export const prerender = true;

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Inconsolata:wdth,wght@150,200..900&family=Montaga&family=Sansita:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap" rel="stylesheet">
    <title>The Wilderness Trails</title>
    <ClientRouter />
    <!-- @ts-ignore -->
    <Analytics />
</head>

<body>

<header class="header wrapper">

    <HeaderContent />

</header>

<main>

    <section class="hero">
        <h1 class="hero-title">the unexplored</h1>
        <Image src={HomePageBG} alt="" class="hero-image" />
    </section>

    <section class="about wrapper flow">
            
        <h1 class="about-title">ABOUT THIS PLACE</h1>

        <p>
            Have you ever wondered why we are born on this planet at any point in your life? Why do we go through a daily routine from a young age? Apart from the tasks that satisfy our survival needs, how did we end up doing the other things?
        </p>
        <p>
            If anything, the activities we perform today are the projections of stories or dialogues that our mind has created by grouping sensory data we have subconsciously imbibed from our surroundings since our little brain started to develop. The most powerful patterns involved all our five senses while observing. If the story in play was something unique or an extreme version of our likes and dislikes, they have the potential to create strong imprints in our subconscious mind. Yet, we wonder <span class="thought">"why do I do this particular thing when I didn't intend to do it in the first place?"</span>. Don't we all?
        </p>
        <p>
            When we marvel about how big the world is don't we also get the sense that there are a lot of aspects to life that are out there but not very obvious to us. We get stuck in a rut trying to achieve something only to end up feeling unsatisfied. We exhaust ourselves constantly switching between things wondering, <span class="thought">"Maybe this is it. This is that thing that I've been waiting to do my whole life"</span>.
        </p>
        <p>
            After a point, we start using the word 'depth' to address how much we are willing to dive deep into all our doings be it professional or personal, to find that glowing satisfaction. And most often we connect depth to words such as 'loud', 'heavy', 'strong' and 'grand'. What if the opposite added another dimension to the word? What if 'subtle' held more 'depth' than anything else? How do we experience the 'subtle' with depth? Most often by cutting off the noise in every sense, be it inside your head or outside it. Confusing? Here, we attempt to answer that very question along with exploring the tiny and subtler aspects of life with the utmost depth and a no-holds barred approach.
        </p>
        <p>
            If you are interested in these topics, you can read my blogs available in the navigation.
        </p>
        
    </section>

</main>

</body>
</html>

<style>

.header {
    position: sticky;
    top: 1rem;
    left: 0;
    z-index: 100;
    width: calc(100% - 4rem);
    height: 4.5rem;
    padding-block: 0;
    pointer-events: none;
    opacity: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    border-radius: 100vw;
    border: 1px solid hsl(from var(--clr-font) h s l / 0.3);
    box-shadow: var(--shadow);
    background-color: hsl(from var(--clr-primary-surface) h s l / 0.7);
    backdrop-filter: blur(10px);
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: 150vh;
    animation-range-end: 180vh;
}

@keyframes fade-in {
    100% {pointer-events: unset; opacity: 1;}
}

.hero {
    margin-top: -4.5rem;
    height: 100dvh;
    display: grid;
    place-items: center;
    position: relative;

    .hero-title {
        margin-top: -5rem;
        font-family: "Inconsolata", monospace;
        font-weight: 300;
        font-size: 2.5rem;
        text-align: center;
        color: var(--clr-primary);
        animation: fade-out linear forwards;
        animation-timeline: view();
        animation-range: exit -20vh;
    }

    .hero-image {
        grid-column: 1/-1;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.4;
        animation: hero-img-animation linear forwards;
        animation-timeline: view();
        animation-range: exit;
    }
}

@keyframes fade-out {
    100% {opacity: 0;}
}

@keyframes hero-img-animation {
    100% {opacity: 0; scale: 3;}
}

.about {
    max-width: 70ch;

    .about-title {
        font-family: "Sansita", sans-serif;
        text-align: center;
    }

    .thought {font-style: italic; font-weight: 500; color: var(--clr-accent-2);}
}

</style>