---

import NormalHeader from "../components/NormalHeader.astro";
import '../styles/global.css';

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <script src="/scripts/global.js" is:inline defer></script>
    <title>The Wilderness Trails</title>
</head>

<body>

    <NormalHeader></NormalHeader>

    <slot></slot>

</body>
</html>

<style>

    body {
        background-image: linear-gradient(hsl(from var(--clr-primary) h 50% 3% / 0.7)), url(../images/articlepages-bg.jpg);
        background-size: cover;
        background-position: top;
        background-repeat: no-repeat;
    }
    
</style>