---

import FloatingHeader from "../components/FloatingHeader.astro";
import '../styles/global.css';

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <script src="/scripts/global.js" is:inline defer></script>
    <title>The Wilderness Trails</title>
</head>

<body>

    <FloatingHeader></FloatingHeader>

    <slot></slot>

</body>
</html>