---

import { ClientRouter } from "astro:transitions";
import MainHeader from "../components/MainHeader.astro";
import '../styles/global.css';

---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width initial-scale=1">
    <title>The Wilderness Trails</title>
    <ClientRouter />
</head>

<body>

    <MainHeader transition:persist />

    <slot></slot>

</body>
</html>